@font-face {
  font-family: "iconfont";
  src: url("/fonts/icofont/icofont.woff2") format("woff2"),
       url("/fonts/icofont/icofont.woff") format("woff"),
       url("/fonts/icofont/icofont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: inherit;
  line-height: 1;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ds-icon-clapping-01:before {
  content: "\e601";
}

.ds-icon-asterisk:before {
  content: "\e603";
}

.ds-icon-aspect-ratio:before {
  content: "\e604";
}

.ds-icon-brush:before {
  content: "\e605";
}

.ds-icon-web-design-01:before {
  content: "\e606";
}

.ds-icon-blend:before {
  content: "\e607";
}

.ds-icon-book-02:before {
  content: "\e608";
}

.ds-icon-sun-01:before {
  content: "\e609";
}

.ds-icon-language-circle:before {
  content: "\e60a";
}

.ds-icon-search-01:before {
  content: "\e60b";
}

.ds-icon-check-list:before {
  content: "\e60c";
}

.ds-icon-brandfetch:before {
  content: "\e60d";
}

.ds-icon-paint-board:before {
  content: "\e60e";
}

.ds-icon-moon-02:before {
  content: "\e60f";
}

.ds-icon-dashboard-circle:before {
  content: "\e610";
}

.ds-icon-logo:before {
  content: "\e600";
}

